---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro"
import Howto from "../components/Howto.astro";
import Usp from "../components/Usp.astro"

---


<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		</div>
			<Header/>
			<Hero />
			<Howto/>
			<Usp/>

		

	</body>
</html>
