---
import AtluiFormVerification from "./AtluiFormVerification.astro";
---

<div class="atlui-embed-wrapper">
  <AtluiFormVerification />
</div>

<style is:global>
  .atlui-embed-wrapper .atlui_form_wrapper {
    box-shadow: none !important;
    background: transparent !important;
  }
</style>
