---
// Footer.astro
// import "./Footer.css";
---

<footer class="footer">
  <div class="footer-container">
    <p class="footer-text">© 2025 UTOTECH – Alle Rechte vorbehalten.</p>
    <nav class="footer-links">
      <a href="https://atlas24.ch/impressum/" rel="nofollow">Impressum</a>
      <a href="https://atlas24.ch/datenschutzerklarung-12-2024/" rel="nofollow">Datenschutz</a>
    </nav>
  </div>
</footer>
