---
import "./Header.css";
---
<header class="atlui_header">
  <div class="atlui_header_inner">
    <a href="https://atlas24.ch" class="atlui_logo_link">
      <img
  src="/images/Logo_complete_80W.webp"
  srcset="/images/Logo_complete_80W.webp 80w, /images/Logo_complete_110W.webp 110w"
  sizes="(max-width: 480px) 80px, 110px"
  alt="Atlas24 Logo"
  class="atlui_logo"
  loading="eager"
  fetchpriority="high"
/>

    </a>
    <div class="atlui_nav">
      <span class="atlui_nav_item">Nur geprüfte Unternehmen</span>
      <span class="atlui_nav_item">Bis zu 40 % sparen</span>
    </div>
  </div>
</header>
