---
import "./Hero.css";
import AtluiFormOfferMobile from "./form-ui/AtluiFormOfferMobile.astro";
---

<section id = "hero" class="hero-section">
  <div class="hero-container">
    <div class="hero-text">
      <h1 class="hero-title">Jetzt 5 Offerten in 2 Minuten für Ihren Umzug</h1>
      <p class="hero-subline">
        Vergleichen Sie kostenlos und unverbindlich  <strong>Top-Umzugsfirmen</strong> in Ihrer Region und <strong>sparen Sie bis zu 40%</strong>.
      </p>

      <div class="hero-form">
        <AtluiFormOfferMobile />
      </div>

      <ul class="hero-usps">
  <li>5 Offerten in 2 Minuten</li>
  <li>Nur geprüfte Anbieter</li>
  <li>Bis zu 40% sparen</li>
  <li>100 % kostenlos & unverbindlich</li>
</ul>
        
      </ul>
    </div>

    <div class="hero-image">
      <img src="/images/Atlas_Mobile_Couple.webp" alt="Paar beim Umzug" loading="eager" />
    </div>
  </div>
</section>
