---
// StickyCTA.astro
// import "./Stickycta.css"
---

<script src="/assets/stickycta.js" defer></script>


<section class="sticky-cta-wrapper">
  <button class="sticky-cta" onclick="scrollToHeroForm()">Jetzt kostenlos Offerten vergleichen</button>
</section>


