---
import "./Trust.css";
---
<section class="trust-section">
  <div class="trust-wrapper">
    <p class="trust-subtitle">Vertrauen Sie auf Qualität</p>
    <h2 class="trust-title">Bereits über 3'500 Kunden haben Atlas24 genutzt</h2>

    <div class="trust-stars">
      ★★★★★ <span>Ø 4.8 / 5.0</span>
    </div>

    <div class="trust-logos">
      <img src="/images/customer_moved1.webp" alt="Kunde 1" loading="lazy"/>
      <img src="/images/customer_moved2.webp" alt="Kunde 2" loading="lazy" />
      <img src="/images/customer_moved3.webp" alt="Kunde 3" loading="lazy"/>
      
    </div>
  </div>
</section>
