---
// import "./Trust.css";
---
<section class="trust-section">
  <div class="trust-wrapper">
    <p class="trust-subtitle">Vertrauen Sie auf Qualität</p>
    <h2 class="trust-title">Bereits über 3'500 Kunden haben Atlas24 genutzt</h2>

    <div class="trust-stars">
      ★★★★★ <span>Ø 4.8 / 5.0</span>
    </div>

    <div class="trust-logos">
      <img 
  src="/images/customer_moved1_320.webp"
  srcset="
    /images/customer_moved1_320.webp 320w,
    /images/customer_moved1_480.webp 480w,
    /images/customer_moved1_640.webp 640w,
  "
  sizes="(max-width: 768px) 80vw, 200px"
  width="320"
  height="183"
  alt="Kunde 1"
  loading="lazy"
/>

      <img 
  src="/images/customer_moved2_320.webp"
  srcset="
    /images/customer_moved2_320.webp 320w,
    /images/customer_moved2_480.webp 480w,
    /images/customer_moved2_640.webp 640w,
  "
  sizes="(max-width: 768px) 80vw, 200px"
  width="320"
  height="183"
  alt="Kunde 1"
  loading="lazy"
/>

      <img 
  src="/images/customer_moved3_320.webp"
  srcset="
    /images/customer_moved3_320.webp 320w,
    /images/customer_moved3_480.webp 480w,
    /images/customer_moved3_640.webp 640w,
  "
  sizes="(max-width: 768px) 80vw, 200px"
  width="320"
  height="183"
  alt="Kunde 1"
  loading="lazy"
/>

      
    </div>
  </div>
</section>
