---
// layouts/BaseLayout.astro
const { title } = Astro.props;
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="decc716e-21fc-495c-8d28-ddbcfefa21df"
      data-blockingmode="auto"
      type="text/javascript">
    </script>

    <!-- header content oberhalb einfügen -->
  </head>
  <body>
    <slot /> <!-- ❗Wichtig: Hier wird der Seiteninhalt eingesetzt -->
  </body>
</html>
